<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286843387189-1st232jf019ava9533uuc2o3agvijjgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286843387189-1st232jf019ava9533uuc2o3agvijjgl</string>
	<key>API_KEY</key>
	<string>AIzaSyBLqfsob24zXGY1PtUjrBvHVKjqKpJ_H3M</string>
	<key>GCM_SENDER_ID</key>
	<string>286843387189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lucidTest</string>
	<key>PROJECT_ID</key>
	<string>lucid-twitter-2afe8</string>
	<key>STORAGE_BUCKET</key>
	<string>lucid-twitter-2afe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286843387189:ios:a23ef1b2750110ef76e07c</string>
</dict>
</plist>